html,
body,
#root {
  padding: 0 !important;
  margin: 0 !important;
  max-height: 100vh !important;
  max-width: 100vw !important;
}

.leaflet-layer {
  max-height: 100vh !important;
  max-width: 100vw !important;
}

.leaflet-pane {
  max-height: 100vh !important;
  max-width: 100vw !important;
}

.leaflet-top {
}
.leaflet-left {
  right: 0 !important;
  left: auto !important;
}

.leaflet-control {
  margin-right: 10px;
}


*{
  font-family: Montserrat !important;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url() format('woff');
  
}