$primary: #e44044;
$secondary: #f6d6d5;
$accent: #778283;
$background: #fafafa;
$text: #1b1818;
$hint-color: #bababa;
$navbar_height: 60px;
$font-size-small: 10px;
$font-size-medium: 20px;
$font-size-large: 24px;
$border-radius: 15px;
